<div class="min-h-screen flex items-center justify-center bg-gray-200 p-4">
  <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-sm">
    <h3 class="text-2xl font-bold mb-6 text-center">Login</h3>
    <!-- Toggle Buttons -->
    <div class="flex justify-center mb-4 space-x-4">
      <button
        (click)="loginType = 'admin'"
        [ngClass]="loginType === 'admin' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-800'"
        class="px-4 py-2 rounded">
        Admin
      </button>
      <button
        (click)="loginType = 'room'"
        [ngClass]="loginType === 'room' ? 'bg-gray-800 text-white' : 'bg-gray-200 text-gray-800'"
        class="px-4 py-2 rounded">
        Room
      </button>
    </div>

    <!-- Admin Login Form -->
    <form *ngIf="loginType === 'admin'" (ngSubmit)="onAdminLogin()" [formGroup]="adminLoginForm">
      <div class="mb-4">
        <label for="adminUsername" class="block text-gray-700">Username</label>
        <input
          id="adminUsername"
          type="text"
          formControlName="username"
          class="mt-1 block w-full p-2 border border-gray-300 rounded"
          placeholder="Enter username" />
      </div>
      <div class="mb-6">
        <label for="adminPassword" class="block text-gray-700 mb-1">Password</label>
        <div class="relative">
          <input
            id="adminPassword"
            [type]="adminPasswordVisible ? 'text' : 'password'"
            formControlName="password"
            class="block w-full py-2 px-3 pr-10 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500"
            placeholder="Enter password" />
          <button
            type="button"
            (click)="toggleAdminPasswordVisibility()"
            class="absolute inset-y-0 right-0 px-3 flex items-center text-gray-500 focus:outline-none"
            aria-label="Toggle password visibility">
            <i [ngClass]="adminPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
        </div>
      </div>
      <button type="submit" [disabled]="adminLoginForm.invalid" class="w-full bg-gray-800 text-white p-2 rounded hover:bg-gray-700 transition duration-200">
        Log In as Admin
      </button>
    </form>

    <!-- Room Login Form -->
    <form *ngIf="loginType === 'room'" (ngSubmit)="onRoomLogin()" [formGroup]="roomLoginForm">
      <div class="mb-4">
        <label for="roomName" class="block text-gray-700">Room Name</label>
        <input
          id="roomName"
          type="text"
          formControlName="roomName"
          class="mt-1 block w-full p-2 border border-gray-300 rounded"
          placeholder="Enter room name" />
      </div>
      <div class="mb-6">
        <label for="roomPassword" class="block text-gray-700 mb-1">Password</label>
        <div class="relative">
          <input
            id="roomPassword"
            [type]="roomPasswordVisible ? 'text' : 'password'"
            formControlName="roomPassword"
            class="block w-full py-2 px-3 pr-10 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500"
            placeholder="Enter password" />
          <button
            type="button"
            (click)="toggleRoomPasswordVisibility()"
            class="absolute inset-y-0 right-0 px-3 flex items-center text-gray-500 focus:outline-none"
            aria-label="Toggle password visibility">
            <i [ngClass]="roomPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </button>
        </div>
      </div>
      <button type="submit" [disabled]="roomLoginForm.invalid" class="w-full bg-gray-800 text-white p-2 rounded hover:bg-gray-700 transition duration-200">
        Log In as Room
      </button>
    </form>

    <!-- Display any login error -->
    <div *ngIf="loginError" class="mt-4 text-red-500 text-center">
      {{ loginError }}
    </div>
  </div>
</div>
